@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  background-color: #f5efe5; /* Beige tipo papel */
  color: #111827;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}

a {
  text-decoration: none;
}

input,
textarea {
  outline: none;
}

button:focus-visible,
a:focus-visible {
  outline: 2px solid #f97316; /* naranja */
  outline-offset: 2px;
}
